VLSI23_journal/PYVISA_measurements/output/ID_sample_I2_covered_itail_100nA_noisepsd__wav_vout_fin_1000000.0_vpp_0.1_vofs_-0.165-0.csv 
VLSI23_journal/PYVISA_measurements/output/ID_sample_I2_covered_itail_100nA_noisepsd__wav_vin_fin_1000000.0_vpp_0.1_vofs_-0.165-0.csv 
VLSI23_journal/PYVISA_measurements/output/ID_sample_I2_covered_itail_10nA_noisepsd__wav_vout_fin_1000000.0_vpp_0.1_vofs_-0.165-0.csv 
VLSI23_journal/PYVISA_measurements/output/ID_sample_I2_covered_itail_10nA_noisepsd__wav_vin_fin_1000000.0_vpp_0.1_vofs_-0.165-0.csv 
VLSI23_journal/PYVISA_measurements/output/ID_sample_I2_covered_itail_1nA_noisepsd__wav_vout_fin_1000000.0_vpp_0.1_vofs_-0.165-0.csv 
VLSI23_journal/PYVISA_measurements/output/ID_sample_I2_covered_itail_1nA_noisepsd__wav_vin_fin_1000000.0_vpp_0.1_vofs_-0.165-0.csv 
VLSI23_journal/PYVISA_measurements/sim_csv/Ix_fast_tau.csv
VLSI23_journal/PYVISA_measurements/sim_csv/Ix_tau.csv
VLSI23_journal/PYVISA_measurements/sim_csv/cix_pulse.csv
VLSI23_journal/PYVISA_measurements/sim_csv/cix_pulse_tau.csv
VLSI23_journal/PYVISA_measurements/sim_csv/Ix.csv
VLSI23_journal/PYVISA_measurements/sim_csv/Ix_fast.csv
VLSI23_journal/PYVISA_measurements/output/
TBCAS24/PYVISA_measurements/sim_csv/Ix_fast_tau.csv
TBCAS24/PYVISA_measurements/sim_csv/Ix_tau.csv
TBCAS24/PYVISA_measurements/sim_csv/cix_pulse.csv
TBCAS24/PYVISA_measurements/sim_csv/cix_pulse_tau.csv
TBCAS24/PYVISA_measurements/sim_csv/Ix.csv
TBCAS24/PYVISA_measurements/sim_csv/Ix_fast.csv
TBCAS24/PYVISA_measurements/output/
